    @font-face {
    font-family : dosis;
    src: url(fonts/Dosis-VariableFont_wght.ttf)
    }
    @font-face {
    font-family : sofia;
    src: url(fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf)
    }
    
    
    .dosis {
    font-family: dosis;
    }
    
    .sofia {
    font-family: sofia;
    }
    