@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
  @font-face {
    font-family: dosis;
    src: url(fonts/Dosis-VariableFont_wght.ttf) format("tff");
  }
  @font-face {
    font-family: sofia;
    src: url(fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf) format("ttf");
  }
} */


